# Environment variables
.env

# Python
data/*
!data/sources.json
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/
bad_records.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
